@page
@model IndexModel

@{
    ViewData["Title"] = "Home";
}

<div class="container mt-5">
    <div class="row">
        <div class="col-sm-12 col-md-6 offset-md-3">
            <div class="card shadow-lg">
                <div class="card-body">
                    <div class="d-flex justify-content-end mb-4">
                        @if (User.IsInRole("Admin"))
                        {
                            <a asp-page="/AddNewEmployee" class="btn btn-success">Add New Employee</a>
                        }
                    </div>
                    <h1 class="card-title text-center mb-4">Welcome to the Company Directory</h1>
                    <p class="card-text text-center">Use the links below to navigate to different sections of the application:</p>
                    <div class="container mt-5">
                        <div class="row">
                            @foreach (var employee in Model.AllEmployees)
                            {
                                <div class="col-sm-12 col-md-4 mb-4">
                                    <div class="card shadow-lg">
                                        @if (!string.IsNullOrEmpty(@employee.Picture))
                                        {
                                            <img class="card-img-top" src="@employee.Picture" alt="Picture of @employee.FirstName @employee.LastName">
                                        }
                                        else
                                        {
                                            <img class="card-img-top" src="/user.png" alt="Default picture">
                                        }
                                        <div class="card-body">
                                            <h5 class="card-title">@employee.FirstName @employee.LastName</h5>
                                            <a asp-page="/EmployeeDetails" asp-route-employeeId="@employee.Id" class="btn btn-primary btn-block">Details</a>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>