@page
@model IndexModel

@{
    ViewData["Title"] = "Home";
}


<div class="container mt-5">
    <div class="row">
        <div class="col-sm-12 col-md-6 offset-md-3">
            <div class="card shadow-lg">
                <div class="card-body">
                    <h1 class="card-title text-center mb-4">Welcome to the Company Directory</h1>
                    <form method="get" asp-page="./Index" class="mb-4">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="name">Name:</label>
                                    <input type="text" name="NameSearchTerm" maxlength="255" id="NameSearchTerm" class="form-control" value="@ViewBag.Name" />
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="site">Site:</label>
                                    <select name="SiteSearchTerm" id="SiteSearchTerm" class="form-control">
                                        <option value="">--Select a site--</option>
                                        @foreach (var site in Model.Sites)
                                        {
                                            <option value="@site.Name">@site.Name</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="service">Service:</label>
                                    <select name="ServiceSearchTerm" id="ServiceSearchTerm" class="form-control">
                                        <option value="">--Select a service--</option>
                                        @foreach (var service in Model.Services)
                                        {
                                            <option value="@service.Name">@service.Name</option>
                                        }
                                    </select>
                                </div>
                            </div>

                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary">Search</button>
                        </div>
                    </form>
                    <p class="card-text text-center">Use the links below to navigate to different sections of the application:</p>
                    <div class="container mt-5">
                        <div class="row">
                            @foreach (var employee in Model.Employees)
                            {
                                <div class="col-sm-12 col-md-4 mb-4">
                                    <div class="card shadow-lg">
                                        @if (!string.IsNullOrEmpty(@employee.Picture))
                                        {
                                            <img class="card-img-top" src="@employee.Picture" alt="Picture of @employee.FirstName @employee.LastName">
                                        }
                                        else
                                        {
                                            <img class="card-img-top" src="/user.png" alt="Default picture">
                                        }
                                        <div class="card-body">
                                            <h5 class="card-title">@employee.FirstName @employee.LastName</h5>
                                            <a asp-page="./EmployeeDetails" asp-route-employeeId="@employee.Id" class="btn btn-primary btn-block">Details</a>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-end mb-4">
                    @if (User.IsInRole("Admin"))
                    {
                        <a asp-page="./AddNewEmployee" class="btn btn-success">Add New Employee</a>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

